html, body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(zee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#bootje {
  position: absolute;
  background-image: url(boat.png);
  left: 200px;
  top: 400px;
  width: 220px;
  height: 220px;
}
