body {
  padding: .1em;
}
#meer {
  font-size: 1.2em;
  padding: .2em 1.5em;
  display: block;
  margin: 0 auto;
  background-color: cornflowerblue;
  color: #fff;
  border: 0;
  border-radius: .2em;
}

#meer:hover {
  background-color: blue;
  cursor: pointer;
}

.rij img {
  height: 180px;
  margin: 2px;
}

.klaar {
  display: flex;
  height: 180px;
  margin: 2px 0;
}
.klaar img {
  height: 100%;
  width: auto;
  margin: 2px;
}
