html,body {
  background: #fec;
  color: #320;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.inhoud {
  flex: 1 0 auto;
}
.media-item {
  display: flex;
}
.media-item:nth-child(2n+2) .tekst {
  order: -1;
}
footer {
  background: #320;
  color: #fc9;
}
